.landing-page-container{
    .content-display-container-box{
        position: absolute;
        height: calc(100vh - 15vmax);
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        overflow: scroll;
        grid-row-gap: 5vmax;
        bottom: 0;
    }
    
    @media screen and (orientation: landscape) {
        .content-display-container-box{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}