.content-container{
    width: 100vw;
    height: 100vh;
    .sub-content-container{
        position: absolute;
        bottom: 0;
        width: 100vw;
        height: calc(100vh - 15vmax);
        display: grid;
        place-items: center;
        align-content: space-evenly;
        grid-template-rows: auto 1fr;
        h1{
            font-size: 2vmax;
            height: min-content;
        }
        .iframe-container{
            width: 48vmax;
            height: 27vmax;
            max-width: 90vw;
            max-height: 60vh;
            border-radius: 2vmax;
            overflow: hidden;
        }
    }
}