.error-container{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    .error-warning{
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        cursor: pointer;
        color: rgba(255,255,255,1);
        font-size: 5vmax;
        max-width: 90vw;
    }
}